/* CSS Reset */
* {             
/*     border: 1px white solid;
 */    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F0F0F;
/*     background-color: #404040;
 */}

.container1, .container2 { 
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Set the width and center-align for the main sections */
.text,
.text2,
.vergleich,
.buttonContainer {
    width: 50%;
    text-align: center;
    padding: 25px;
}

.text2 {
    height: auto;
}
/* ########## */
/* Bereich 1 */
/* ########## */
.ticker {
    padding: 25px;
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 21px;
    /* The horizontal scroll is present because of the vertical scroll.
    Which you can solve by giving max-width: 100%.
    */
    max-width: 100%; 

}

.logoHeader {
    
}

.btcPriceHeader {
    float: right;
}

/* Bereich 2 */
.gegenstand {
    text-decoration: underline;
}

.bitcoin {
    text-decoration: underline;
    color: #F7931A;
}

.betrag {
    font-family: "Inter";
    width: 100px;
    font-weight: bold;
    text-decoration: underline;
    color: #F7931A;
}

/* ########## */
/* Bereich 2.1 */
/* ########## */
.text {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
/*     height: 185px;
 */ 
}
.tooltiptext {
/*     overflow-x: visible;
 */
}

.vergleich {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined, .SMPBText {
    cursor: pointer;
    vertical-align: middle;
    
}

/* Set width for the product image */
.produktBild {
    width: 30%;
    height: 180px;
/*     background-color: red;
    padding-left: 12%;
 */
}

.produktBildsize {
    height: 180px;
    vertical-align: middle;
/*     border-radius: 15px;
 */}

.equalTo {
    font-family: 'Inter', sans-serif;
    font-size: 75px;
    width: 12%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bitcoinAmount {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    min-width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    justify-content: center;
    align-items: center;

}

.BTCtoSatsSwitch {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bitcoinAmountText {
    margin-bottom: 15px;
    margin-top: 31px; /* Adjust the margin-top value as needed */
    font-size: 32px;
    
}

.BTCtoSatsSwitch label {
    margin: 0px 10px;

}

/* ########## */
/* Bereich 2.3 */
/* ########## */
.dateandprice {
    height: auto;
    line-height: 35px;
    margin-bottom: 10px;
    font-size: 21px;
    font-family: 'Rubik', sans-serif;
}

.button {
    cursor: pointer;
    background-color: rgb(247, 147, 26); 
    color: white;
    padding: 25px;
    border-radius: 99px;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    border: none;
    height: auto;
    min-width: 40%;

}

.buttonText {
    font-size: 21px;
}

/* ########## */
/* Bereich 2.4 */
/* ########## */
.text2, .text3 {
    font-family: 'Arial', sans-serif;
    font-size: 21px;
    text-align: center;
    height: 15vh;
    padding: 0px;
}

/* ########## */
/* Tooltips */
/* ########## */
.tooltip {
    position: relative;
    display: inline-block;

/*     visibility: hidden;
 */}

.tooltip .tooltiptext {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -80px;
    padding: 15px;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
/*     color: black;
 */    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Tooltips 2 */
.tooltip2 {
    position: relative;
    display: inline-block;
/*     visibility: hidden;
 */}

.tooltip2 .tooltiptext2 {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    visibility: hidden;
    width: 210px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -105px;
    padding: 15px;

}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}


/* ########## */
/* TooltipsDonate */
/* ########## */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
  .overlay img {
    max-width: 90%;
    max-height: 90%;
}

/* ########## */
/*  Custom Scrollbar */
/* ########## */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
/*     background: black;
 */}

/* ########## */
/* Checkbox CSS */
/* ########## */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch2 {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input, .switch2 input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider, .slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  red;
    -webkit-transition: .4s;
    transition: .4s;
    /* border: 2px solid white;  */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px white;
}

.slider2:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider, input:checked + .slider2 {
    background-color:#F7931A;
}

input:focus + .slider, input:focus + .slider2 {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slider2:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

/* Rounded sliders */
.slider2.round2 {
    border-radius: 17px;
}

.slider.round:before, .slider2.round2:before {
    border-radius: 50%;
}

.centerLabels {
 
}

.labels {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap; /* Wrap content to 2 rows */
}

.labelContainer {
    justify-content: space-between;
    width: 50%;
    align-items: center;
    padding: 10px;
    display: flex;
    flex: 1 1 auto; /* Distribute remaining space evenly among containers */
     /* Add some spacing between containers */
}



.switch-label {
    margin: 0px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
}

/* ########## */
/* Mobile responsive CSS */
/* ########## */

@media (min-width: 3500px) {
    .text,
    .text2,
    .vergleich,
    .buttonContainer {
        width: 40%;
        padding: 10px;
    }
    .produktBild {
        width: 20%;
    }
    .bitcoinAmount {
        width: 20%;
    }
}


@media (max-width: 1440px) {
    /* Mobile L */
/*     .container1, .container2 { 
        height: auto;
        padding-bottom:;    
    } */
    
    /* .ticker {
        position: relative;
        display: flex;
        flex-direction: column;
        float: none;
        align-items: center;
        max-width: 100%;
        margin-top: 10px;
        padding: 0px;
    } */

/*     .btcPriceHeader {
        margin: 10px 0px;
    } */

    .text,
    .text2,
    .vergleich,
    .buttonContainer {
        width: 85%;
        padding: 10px;
    }

}

@media (max-width: 1024px) {
    /* Laptop */

    .labelContainer {
        justify-content: space-between;
        width: 50%;
    }
    .produktBild {
        width: 50%;
    }

    .bitcoinAmount {
        width: 50%;
    }
    .xImage {
        width: 50px;
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    /* Tablet */

    .text,
    .text2,
    .vergleich,
    .buttonContainer {
        width: 95%;
    }

    
/*     .text {
        font-size: 21px;
    }

    .bitcoinAmountText {
        font-size: 21px;
    }

    .dateandprice {
        font-size: 16px;
    }
    
    .switch-label {
        font-size: 16px;
    }

    .buttonText {
        font-size: 16px;
    }

    .BTCtoSatsSwitch {
        font-size: 16px;
    } */
}

@media (max-width: 450px) {
    /* Mobile L */

    .container1 {
        margin: 0px 0px;
    }
    .text {
        font-size: 25px;
    }

    .tooltiptext {
        font-size: 12px;
    }

    .vergleich {
        flex-direction: column;
    }

    .produktBild {
        width: 100%;
        height: 150px;
    }
    
    .produktBildsize {
        height: 150px;
        vertical-align: middle;
    }
    
    .equalTo, .equalTo span {
        font-size: 50px;
        width: auto;
        height: auto;
        margin-top: 5px;
        line-height: 50px;
    }
    
    .bitcoinAmount {
        width: 100%;
        height: auto;
    }
    
    .bitcoinAmountText {
        margin-bottom: 15px;
        margin-top: 15px; /* Adjust the margin-top value as needed */
        font-size: 30px;
    }
    
    .BTCtoSatsSwitch label {
        margin: 0px 10px;
    
    }

    .button {
        width: 100%;
        padding: 15px;
        min-height: 80px;

    }

    .labelContainer {
        justify-content: space-between;
        width: 100%;
    }

    .donate, .donateTest {
        font-size: 16px;
        
    }


}

@media (max-width: 375px) {
    /* Mobile M */
    
}

@media (max-width: 320px) {
    /* Mobile S */
    
}
.donateTextDiv {
    text-align: center;
    line-height: ;
}

.donateTest {

}

.donate, .donateTest {
    font-family: 'Courier New', Courier, monospace;
    color: #F7931A;
}

.text {
    overflow: visible;
}

/* What a mess... */


.outer {
    display: grid;
    place-items: center;
    height: 185px; /* Adjust this based on your layout */
}
.inner {
    /* background-color: #ccc; */
}

.xImage {
    width: 50px;
}

.reddit {
    text-decoration: none;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    text-decoration: underline;

}

.donate {
    cursor: pointer;
    color: #F7931A;
}